<p>home works!</p>
<button 
    class="btn waves-effect orange lighten-1" 
    type="button" 
    (click) = 'authService.logout()'
>
    Выйти
    <i class="material-icons right">send</i>
</button>

<div class="row">
    <button 
    class="btn waves-effect pink lighten-1 col s3 offset-s5" 
    type="button" 
    (click) = 'isOut = !isOut'
>
    {{ isOut ? 'Показать' : 'Скрыть' }}
    <i class="material-icons right">send</i>
</button>

<a 
    class="btn-floating btn-large scale-transition col offset-s6"
    [class.scale-out] = 'isOut'
    [style.marginTop] = "'1rem'"
>
    <i class="material-icons">add</i>
</a>
</div>


