<div class="row">
    <p>login works!</p>
    <button 
        class="btn waves-effect teal darken-1 col s3 offset-l3" 
        type="button" 
        (click) = 'authService.setLogged(true)'
    >
        Залогиниться
        <i class="material-icons right">send</i>
    </button>
    
    <button 
        class="btn waves-effect blue darken-1 col s3 offset-s1" 
        type="button" 
        routerLink = '/home'
    >
        Перейти в систему
        <i class="material-icons right">send</i>
    </button>
</div>

