<main>
    <div class="content">
        <h1>Page Not found</h1>
        <button class="btn waves-effect red darken-1" type="button" routerLink = '/'>
            Вернуться обратно
            <i class="material-icons right">send</i>
        </button>
    </div>
</main>
