main {
    display: flex;
    height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

        h1 {
            padding: 1rem 0;
        }
    }
}